body{font-size:18px;}tr{background:#FFFFCC; color:black; padding:4px; margin:1px;}td{padding:6px;}li{background:#CCCCCC;padding:6px;margin:4px;}
p{margin:0; padding:0;}
.box{float:left; background:#FFCC66; padding:10px; line-height:120px; text-align:center; width:180px; height:120px; border:1px solid black;}
.box p{line-height:normal;}
input{font-size:28px;}
#mylist{clear:both; background:#aaa; padding:30px;}
#mylist li{margin-left:14px; background:#eee;}

/*Overlay CSS*/

.overlay{
    background: #333;
    opacity:0.8;
    z-index: 1000;
    width:100%;
    height:100%;
    position: fixed;
    top: 0;
    left: 0;
    }
    
.modal{
    background: #fff; width: 500px; height:300px; z-index:1001; position: absolute; top: 0; left:0;
-webkit-box-shadow: 0 0 20px #000;   
}