/**
 * HTML5 Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
 	font-family: 'Forum', cursive;
	font-size:22px;
	line-height: 1.5em;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: bold; 
	text-align: center;
}
h1{
	
	font-size: 32pt;
	margin:0 auto;
    padding: 15px 0 10px 0;
}

h2{
	font-size: 28pt;
	margin:0 auto;
	padding: 15px 0 10px 0;
}

h3{
	font-size: 24pt;
	margin:0 auto;
	padding: 15px 0 10px 0;
}

h4{
	font-size: 22pt;
	margin:0 auto;
	padding: 10px 0 10px 0;
}

h5{
	font-size: 20pt;
	margin:0 auto;
	padding: 10px 0 5px 0;
}
h6{
	font-size: 18pt;
	margin:0 auto;
	padding: 5px 0;
}
dt{
	color:#39c7f4;
	font-weight: bold; 
	font-size: 1.25em;
	padding: 10px 0 5px 0;
}
a, a:active, a:visited { color: #000000; text-decoration: none;}
a:hover { color: #6cd5f7; text-decoration: underline;}


/**
 * Primary styles
 *
 * Author: Dan Holloran 
 */

/* ---- START GLOBAL STYLES  ------------- */
body{
	background-color: #666666;
	background-image:url(https://s3.amazonaws.com/DKdesigns_images/body/carbon_fibre_v2.png);
	background-repeat: repeat;	
	text-shadow: rgba(66,66,66,.4) 1px 1px 1px;
}

#wrapper{
	background-image: url(https://s3.amazonaws.com/DKdesigns_images/body/wrapper.png);
	background-position: center;
	background-repeat: repeat-y;
}

#container{
	width:960px;
	margin:0 auto;
	padding: 0;
	background: #fff;
}

/* ----- GLOBAL HEADER ---- 960px wide x 260px High --- */
header{
	height: 212px;
	margin: 0;
	padding: 0;
	color:#666;
	background-image:url(https://s3.amazonaws.com/DKdesigns_images/header/headerBG.jpg);
	background-repeat: no-repeat;
	background-position: center;

}

header #logo{
	width:345px;
	height: 155px;
	padding: 10px 0 0 0;
	margin: 0 auto;
	float: right;
}

#header img{
	float:left;
}
header #logo a{
	display:block;
	width: 345px;
	height: 155px;
}

/* ----- GLOBAL NAV ------------------------ */
/* -------------------------------- 
	**** Each button is 115px
	wide 5px space either side ****
-------------------------------- */  
  nav{
  	float: left;
  	width: 500px;
  	font-weight: bold;
  	height: 40px;
  	margin: 172px 0 0 25px;
  	background: linear-gradient(top, #ffffff, #cccccc);
  	background: -webkit-linear-gradient(top, #ffffff, #cccccc);
  	background: -moz-linear-gradient(top, #ffffff, #cccccc);
  	background: -o-linear-gradient(top, #ffffff, #cccccc);
  	border-top-right-radius: 40px;
  	-moz-border-top-right-radius: 40px;
  	-webkit-border-top-right-radius: 40px;
  	-o-border-top-right-radius: 40px;
  	border-top-left-radius: 40px;
  	-moz-border-top-left-radius: 40px;
  	-webkit-border-top-left-radius: 40px;
  	-o-border-top-left-radius: 40px;

  }

nav ul  
  {    
  padding:0;  
  margin:0 0 0 25px; 
  }  
  
nav ul li  
  {  
  display:inline;  
  float:left; 
  list-style-type:none;
  padding: 5px;
  text-align: center;
  margin: 0;
  width:100px;  
  height:25px;  
}  
  
nav ul li a  
  {       
  font-weight:bold;  
  font-size:28px;   
  text-decoration:none;  
  display:block;  
  width:150px;  
  height:25px;   
  text-align:center;   
  }  
  
nav ul li a:hover  
  {      
  text-decoration:none;  
  display:block;  
  width:150px;  
  text-align:center;   
  }  
  
nav span.sublinks  a  
  {  
  color:#FFFFFF; 
  background-color: #000; opacity: .75;
  border-radius: 3px;
  -webkit-border-radius: 3px;   
  -moz-border-radius: 3px;   
  -o-border-radius: 3px;   
  font-weight:normal;  
  text-decoration:none;  
  display:block; 
  padding: 5px; 
  width:125px;  
  text-align:center;  
  margin-top:2px;
  border: none;  
  }  
  
nav span.sublinks  a:hover  
  {  
  color:#6cd5f7;   
  font-weight:normal;  
  text-decoration:none;  
  display:block;  
  width:125px;  
  text-align:center;  
  }  
  
nav span.sublinks  
  {  
  	display:none;
  }  
 
#search{
	width: 300px;
	height: 30px; 
	float:left;
	margin: 5px 0 0 50px;
}

/* ----- GLOBAL CONTENT -------------------- */
#breadcrumbs{
	clear: both;
	text-align: left;
	padding: 0;
	font-size: .75em;
	list-style-type: none;
}
#breadcrumbs li{
	display:inline;
	padding:0;
}


/* ---- GLOBAL FOOTER ----- 3 sections 320px per -----------------------*/
footer{
	clear: both;
	background-image:url(https://s3.amazonaws.com/DKdesigns_images/footer/footer.png);
	background-repeat: no-repeat;
	height:260px;
	margin: 0 auto;
	padding: 0;
	width: 960px;
	font-family: 'Annie Use Your Telescope', cursive;
}
footer ul{
	list-style-type:none;
}
footer #footerSocial{
	width: 220px;
	padding:  0 5px;
	margin-top:35px;
	float: left;
	text-align: center;
	font-size: 1.3em;
	color:#666;
}
footer .socialIcon{
	float:left;
	margin: 2px;
	display: inline;
}

footer #copyright{
	float: left;
	padding: 40px 25px 0 25px;
	margin: 0 auto;
	width: 365px;
}
footer #copyright a:link, #copyright a:visited{
	color: #404040;
}
footer #copyright a:hover, #copyright a:active{
	color: #39c7f4;
}
footer #valid{
	float: left;
	width: 100px;
	height:150px;
	padding: 55px 0 0 0;
}
/*----------------------------- 
	**** END GLOBAL STYLES ****  
-----------------------------*/


/* ---------------------------------  
	**** START CONTENT  SECTION ****
--------------------------------- */
#main{
	background-color: #FFFFFF;
	margin: 0 auto;
}

/* ---------- TABS ---------------- */

#tab_section{
background-color: #666;
box-shadow: rgba(0,0,0,.5) 5px 5px 5px;
margin:100px auto;
padding: 0;
width: 500px;
height: 300px;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-o-border-radius: 10px;
}

#tab_section a{
	text-decoration: none;
}

#tab_section #tabs{
	list-style-type: none;
	font-size: 24px;
	float: left;
	margin: 10px 0 0 10px;
	padding: 5px 5px 0 5px;
	background-color: #FFF;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-o-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
}

#tab_section #tabs li{
	float: left;
	margin: 0 1px;
	width: 120px;
	height: 40px;
	text-align: center;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-o-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	box-shadow: rgba(0,0,0,.5) 2px 2px 2px;
}

#tab_section #tabs li a{
	width: 120px;
	height: 40px;
	text-align: center;
	border-top-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	-o-border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	box-shadow: rgba(0,0,0,.5) 2px 2px 2px;
	display: block;
}

#tab_section #tabs li a:hover{
	background: #6cd5f7;
	color: #FFFFFF;
}

#tab_content{
	margin: 0 10px 10px 10px;
	background-color: #FFF;
	float: left;
	width: 470px;
	padding: 5px;
	list-style-type: none;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-o-border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	box-shadow: rgba(0,0,0,.5) 2px 2px 2px;
}

#tab_content li.tab_txt{
background-color: #ccc;
padding: 0;
width: 470px;
height: 225px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-o-border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-o-border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-o-border-bottom-right-radius: 10px;
	box-shadow: rgba(0,0,0,.5) 2px 2px 2px;
}


#tab_content span{
background-color: #CCC;
width: 450px;
height: 205px;
margin: 10px;
overflow-x: auto;
}

#tab_content #mainTxt, #tab_content #infoTxt, #tab_content #storiesTxt{
	display: none;
	position: absolute;
}