html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}select,input,textarea,button{font:99% sans-serif;}pre,code,kbd,samp{font-family:monospace, sans-serif;}html{overflow-y:scroll;}a:hover,a:active{outline:none;}ul,ol{margin-left:1.8em;}ol{list-style-type:decimal;}small{font-size:85%;}td,td img{vertical-align:top;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}pre{white-space:pre-line;word-wrap:break-word;padding:15px;}textarea{overflow:auto;}.ie6 legend,.ie7 legend{margin-left:-7px;}input[type=checkbox]{vertical-align:bottom;}.ie7 input[type=checkbox]{vertical-align:baseline;}label,input[type=button],input[type=submit],button{cursor:pointer;}input:invalid,textarea:invalid{border-radius:1px;-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;box-shadow:0 0 5px red;}.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd;}a:link{-webkit-tap-highlight-color:grey;}button{width:auto;overflow:visible;}.ie7 img{-ms-interpolation-mode:bicubic;}h1,h2,h3,h4,h5,h6,strong,th{font-weight:700;}nav ul,nav li,button,input,select,textarea{margin:0;}input[type=radio],.ie6 input{vertical-align:text-bottom;}::-moz-selection,::selection{background:grey;color:#fff;text-shadow:none;}

/*
============================
HELPER CLASSES
*/

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}

.clear{clear:both;}
.left{float: left;}
.right{float: right;}



/*
============================
PRIMARY STYLES
*/

body{
	background: url(images/sitebg.jpg) no-repeat top center #31b8ea;
}
body, select, input, textarea { 
  color: #444; 
  font-family: "Trebuchet MS", Georgia, serif;
  font-size:13px;
}

.round{
	 -moz-border-radius: 12px; 
  -webkit-border-radius: 12px; 
          border-radius: 12px;           
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.lshadow{
	 -moz-box-shadow: 0px 0px 15px #aaa; 
  -webkit-box-shadow: 0px 0px 15px #aaa; 
          box-shadow: 0px 0px 15px #aaa; 
}

#container{ width:780px; margin:0 auto; }

#header, #nav, #contentwrap{position: relative;}

#header .logo{float:left;}
#header .logo a{display:block; width:454px; height:128px;}

#footer{ text-align:center; clear:both; margin:20px auto; color:white; }
#contentwrap{ margin:0 auto; background:white; padding:20px; min-height:400px; }

a{
	color: #D76317;
    text-decoration: none;
}

/*
============================
MAIN DROPDOWN NAVIGATION
*/

#nav{
	list-style:none; 
	margin:5px 0 15px 10px; 
	padding:0; 
	display:block;
}
#nav li{
	float:left; 
	position:relative; 
	display:block;
}
#nav li a{
	display:block;
	font-size:15px;
	background:none; 
	padding:6px 12px; 
	color:white; 
	text-decoration:none; 
	border-bottom:1px solid transparent;
}
#nav > li:hover > a{
	background:#31b8ea; 
	border-bottom:1px solid #777;
}

#nav ul{
	display:none;
	position:absolute; 
	list-style:none; 
	z-index:10; 
	background:#444; 
	color:white; 
	margin:0; padding:4px 0;
	     -moz-box-shadow: 0px 0px 6px #777; 
  -webkit-box-shadow: 0px 0px 6px #777; 
          box-shadow: 0px 0px 6px #777;
}
#nav ul li{float:none; min-width:150px;}
#nav ul a{
	font-size:12px;
	white-space:nowrap;
	display:block;
}
#nav ul li:hover > a{background:#00a8da;}


/*
============================
CONTENT ELEMENTS
*/

p{margin-bottom:10px;}
p:last-child{margin-bottom:0;}

h1{font-size:22px; border-bottom:1px dotted #444; padding:0 0 2px 0; margin-bottom:20px;}

.tabsnav{ list-style:none; margin:0; padding:0; }
.tabsnav li{ float:left; margin:0 0px 0 8px; }
.tabsnav li a{ display:block; background:#666; padding:6px 10px; font-size:12px; font-weight:normal; color:white; text-decoration:none; border-bottom:1px solid white;
     -moz-box-shadow: 0px 0px 10px #ccc; 
  -webkit-box-shadow: 0px 0px 10px #ccc; 
          box-shadow: 0px 0px 10px #ccc; 
	 -moz-border-radius: 12px 12px 0 0; 
  -webkit-border-radius: 12px 12px 0 0; 
          border-radius: 12px 12px 0 0;
}
.tabsnav li a:hover, .tabsnav .active a, .tabsnav li a.active{
	background:white; color:#444;
	border-bottom:1px solid #aaa;
}

.tab{ display:none; background:white; padding:20px; z-index:20; border-bottom:1px solid #aaa;
	     -moz-box-shadow: 0px 0px 10px #cfcfcf; 
  -webkit-box-shadow: 0px 0px 10px #cfcfcf; 
          box-shadow: 0px 0px 10px #cfcfcf;
}
#ct-who{display:block;}



/*
============================
STORE PAGE
*/

.store #contentwrap{float:left; width:460px;}
#cart-wrap{float:right; width:260px; position:relative;}

.sidepanel{background:white; padding:15px; width:230px;}
h3.sidehead {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.greysep{height:6px; background:#ddd; margin:20px 0;}
.productitem{float:left; padding:10px 0px; clear:both; border-top:1px solid #ddd; cursor:move; background:white;}
.productitem:hover{background-color:#fafafa;}
.productitem .photo{width:125px; /* height:198px; */ padding:0px 10px 0 0; border-right:6px solid #aaa; float:left;}
.productitem .photo img{width:100%;}
.productitem .photo-over{border-right-color:#e50;}
.productitem .info{float:left; margin-left:10px; width:308px;}
.productitem h4{font-size:22px; font-weight:bold; letter-spacing:-1px; color:#333;}
.productitem .kind{margin:0; padding:0;}
.productitem .productid{display:none; margin:0; padding:0; color:#999;}
.productitem .description{padding:0; margin:15px 0 0 0;}
.productitem .price{float:right; width:80px; text-align:right;}
.productitem .listprice{clear:both; display:block; font-size:18px; color:#e50; margin:0; padding:0;}
.productitem .price p{margin:0; padding:0 0 4px;}
.productitem .pricedrag{clear:both; display:block; float:right;}
.trashitem{display:block; float:left; margin-right:4px; border:none; cursor:pointer;}
.phelper{padding:10px; 
	width:170px;
	background: #e80 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; 
	font-size:12px; color:#fff; border:2px solid #fff; z-index:50;
	-moz-box-shadow:0 0 10px #777;
}
.phelper p{margin:0; padding:2px 0;}

.cartdropbox{height:50px; line-height:50px; border:2px dashed #666; background:#ccc; color:#666; text-align:center; margin-bottom:8px;}
.cartdropboxh{background:#eee;}
.cartitems{clear:both; float:left; width:100%;}
.cartitem{clear:both; border:1px solid #ddd; background:#fafafa; padding:6px; margin:6px 0 0; font-size:11px;}
.cartitem .title{float:left; padding:3px;}
.cartitem .price{float:right; margin-right:4px; padding:3px;}
.cartitem .amount{float:right; width:17px; margin:0; font-size:11px; padding:3px; border:none; background:#333; color:white;}
#clearcart{padding:12px 4px 4px; clear:both; text-align:right;}


/*
============================
AUTOCOMPLETER SEARCH
*/

#sitesearch{position:absolute; top:73px; right:0px; width:255px; height:39px; background:url(images/searchbg.png) no-repeat center center;}
#searchtext{font-size:13px; height:39px; padding:0; margin-left:15px; background:none; border:none; color:#555; width:190px; outline:none;}
#searchsubmit{float:right; border:none; background:none; width:32px; height:29px; margin:5px;}

#searchresults{position:absolute; top:100%; left:2px; width:246px; z-index:50; background:white; border:3px solid #ddd/*#77eaf3*/; opacity:0.93;
     -moz-box-shadow: 0px 0px 12px #777; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 12px #777; /* Saf3.0+, Chrome */
          box-shadow: 0px 0px 12px #777; /* Opera 10.5, IE9, Chrome 10+ */
}
#searchresults ul{list-style:none; margin:0;}
#searchresults li{padding:6px; color:#333; font-size:11px; clear:both; border-bottom:1px solid #ccc; height:30px;}
#searchresults li:hover{background:#31b8ea; color:white; cursor:pointer;}
#searchresults li:last-child{border:none;}
#searchresults li img{margin-right:8px; float:left;}
#searchresults li span{line-height:30px;}



/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display:block; width: 16px; height: 16px; background-image: url(images/ui-icons-orange.png); }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-trash { background-position: -176px -96px; }
